# https://docs.godotengine.org/en/3.0/getting_started/workflow/assets/import_process.html#files-generated
# Importing will add an extra <asset>.import file, containing the import configuration. Make sure to commit these to your version control system!

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/

# Affinity Suite ignores
*.afdesign
*.afphoto

# Asesprite ignores
*.ase
*.aseprite
